<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">

<xi:include href="layout.html" />
<xi:include href="macros.html" />
<head>
    <title></title>
</head>
<body>
<form action="" method="">
<div class="main">
 <span>项目选择：</span><select><option value=""></option></select> <br/>
 <span>项目工期：</span><span>从：</span><input type="text" value=""/><span>到：</span><input type="text" value=""/><br/>
 <span>统计方法：</span><select><option value=""></option></select>
</div>
<input type="submit" value="提交"/>
</form>
</body>
</html>