<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">

<xi:include href="layout.html" />
<xi:include href="macros.html" />
<head>
<script type="text/javascript">
function doCookie(){
      var proj_name = $("#proj option:selected").val();
      var expend_type = $("#expend_type option:selected").val();
      var options = {};
      options.expires = 30;
      $.cookie('proj_name',proj_name,options);
      $.cookie('expend_type',expend_type,options);
 }
function hideNoRe_info(){
 $("#noRe_info").css("display","none");   

}
$(function(){  
    setTimeout('hideNoRe_info()',5000);
    var date=new Date();
    var year =date.getFullYear()
    var month=date.getMonth()+1
    var day=date.getDate()
    if(day.toString().length==1){
        day= "0"+day
    }
    if(month.toString().length==1){
        month= "0"+month
    }
    var str=year+"-"+month+"-"+day
   $("#proj").change(function(){
      var i=$("#proj :selected").index()
   })
   var date=new Date();
    var year =date.getFullYear()
    var month=date.getMonth()+1
    var day=date.getDate()
    if(day.toString().length==1){
        day= "0"+day
    }
    if(month.toString().length==1){
        month= "0"+month
    }
    var strT = year+"-"+month
    $("#inputD1").val(strT)
    $("#inputD2").val(strT)
    var str=year+"-"+month+"-"+day;
    var strStart = $.cookie("dateStart");
    var strEnd = $.cookie("dateEnd");
    $("#inputDate").val(strStart?strStart:str);
    $("input#button").click(function(){
        var dateStart=$("#inputDate").val();
        var dateEnd=$("#inputDate1").val();
        var options = {};
        options.expires = 30;
        $.cookie('dateStart',dateStart,options);
        $.cookie('dateEnd',dateEnd,options);
        $("#proj_ana_form").submit();
    });

    $('#inputDate').DatePicker({
	format:'Y-m-d',
	date: $('#inputDate').val(),
	current: $('#inputDate').val(),
	starts: 1,
	onBeforeShow: function(){
		$('#inputDate').DatePickerSetDate($('#inputDate').val(), true);
	},
	onChange: function(formated, dates){

		$('#inputDate').val(formated);

			$('#inputDate').DatePickerHide();

	}
  });
  var _proj_name = $.cookie('proj_name');
  var _work_type = $.cookie('work_type');
  $("#proj option[value='"+_proj_name+"']").attr("selected","selected");
  var projIndex=$("#proj :selected").index();
  $("#expend_type option[value='"+_work_type+"']").attr("selected","selected");
  if($.cookie('work_date')!=null){
      $("#inputDate").val($.cookie('work_date'));
  }
})
</script>
   <title>expend</title>
</head>
<body>
<xi:include href="pm_head.html"/>
  <form id="reportForm" action="${pm_href}/hours/addexpend" method="post">
  <div class="main_report" style="margin:0 auto">
   <fieldset>
   <legend>项目财务详情填写</legend>
   项目选择：<select name="proj" id="proj">
               <py:for each="pn in proj_names">
		  <py:for each="p in pn">
               <option value="${p}">${dictP[p]}</option>
	          </py:for>
               </py:for>
            </select>
   财务类型：<select name="expend_type" id="expend_type">
                    <py:for each="pt in proj_types">
                      <option value="${pt}">${pt}</option>
                    </py:for>
                 </select>
    金额:  <input type="text" name="expend" style="width:80px"/>   <br/>
    日期：<input type="text" style="width:85px" name="time" readonly="readonly" id="inputDate" class="inputDate" value=""/><br/>
   备注：<textarea cols="40" rows="5" name="Remarks"></textarea>
  <input type="submit" id="button" value="提交"/>
  </fieldset>
  </div>
   </form>
</body>
</html>

