<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
<xi:include href="layout.html" />
<xi:include href="macros.html" />	  
<head>
<script type="text/javascript">
</script>
  <title>Analysis</title>
</head>
<body>
<xi:include href="pm_head.html"/>
 <form action="${pm_href}/hours/import" method="POST" enctype="multipart/form-data">
        <fieldset>
            <legend>Import</legend>
                <label for="import-file">File to import:</label>
                <input type="file" name="import-file" />
                <br />
		<input type="radio" name="anaWay" checked="checked" value="1"/>考勤记录表
                <input id="radioS" type="radio"  name="anaWay" value="2"/>工时记录表 <br />
                <input type="submit" name="import_preview" value="Import" />
        </fieldset>
    </form>
</body>
</html>